* {box-sizing: border-box;}


.header {
  overflow: hidden;
  max-width: 1080px; 
  margin: 0 auto; 
  margin-bottom: 80px;
  padding-top: 40px;
}

.header-right {
  float: right;
}

.header-right a{
    padding-left:40px;
 }

body {
    font-family: 'Poppins';  
}

#outer {
  max-width: 1080px; 
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap; 
}

#section1 {
  width: 50%; 
}

#p1 {
  font-family: Playfair Display;font-size: 52px; margin-top: 0px; width:494px;
}

#p2 {
  font-size: 18px;width:494px; font-weight: 300;
}

#btn1 {
  margin-right: 80px;border-radius: 19px;background-color:#F2F0DF; border: none;color: black;height: 56px;
}

#btn1 b{
  font-size: 18px; padding-left: 25px;padding-right: 25px;
}

#btn2 {
  border: none; background-color: inherit;text-align: right;
}

#rowsct1 {
  margin-top: 23px; margin-bottom: 23px; border: 1px solid black; width:494px; height:155px; padding:40px; border-radius: 19px; background-color:inherit; box-shadow:15px 9px 30px 0px #A0A0A040;
}

#clm1sct1 {
  float: left;max-width: 25%; font-size: 33px; padding-right:25px;
}

#clm2sct1 {
  float: right;max-width: 75%; font-size: 14px;
}

#section23 {
  width: 25%; margin-left: 40px;
}

#smallbox {
  border-radius: 19px;background-size: cover; height:251px;background-repeat: no-repeat; margin-bottom: 23px;
}

#add1 {
  height:170px; width:227px;
}

#rowsct23 {
  background-color:#FFFFFF;width:230px; padding:10px; height:60px; border-radius: 10px; margin:10px;
}

#clmtxt {
  float: left; max-width: 60%; font-size: 14px;
}

#clmtxt b{
  font-size: 16px; border-bottom: 0px;
}

#clmprc {
  float: right; max-width: 30%; font-size: 17px;padding:10px;
}

#clmadd {
  float: right; height:47px; width:44px;max-width: 10%;border-left: 1px solid #E4E4E4;
}

#largebox {
  border-radius: 19px;background-size: cover; height:531px;background-repeat: no-repeat;
}

#add2 {
  height:450px; width:227px
}